@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

@layer base {
  :root {
    --nav-bar-height: 6em;
    width: 100%;
    padding: 0 0;
    margin: 0 0;
    --color-test: hsl(56, 100%, 65%);
  }

  :root[data-theme="light"] {
    --color-bg: 0deg 0% 100%;
    --color-bg2: 0deg 0% 65%;
    --color-content: 0deg 0% 20%;
    --color-groupbg: 0deg 0% 100%;
    --color-accent1: 193deg 44% 44%;
    --color-accent2: 56deg 100% 65%;
  }
  :root[data-theme="dark"] {
    --color-bg: 0deg 0% 20%;
    --color-bg2: 0deg 0% 50%;
    --color-content: 0deg 0% 90%;
    --color-groupbg: 0deg 0% 100%;
    --color-accent1: 193deg 44% 44%;
    --color-accent2: 56deg 100% 65%;
  }
}

body {
  height: screen;
  width: screen;
  flex: auto;
  flex-direction: column;
}

.Full-Page {
  @apply bg-gradient-to-br from-bg to-bg2 text-content;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  min-height: calc(100vh - var(--nav-bar-height));
  max-height: auto;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--color-content);
}

.Full-Page.Normal {
  height: calc(100vh - var(--nav-bar-height));
}

.Brand-Info-Container {
}

.Brand-Info-Container label {
  font-size: 1rem;
}

.Brand-Info-Container input[type="text"] {
  height: 54px;
}

.Brand-Info-Container textarea {
  height: 96px;
}

.Cert-Carousel-Button {
  height: 100%;
  width: 15%;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: box-shadow 0.3s ease, opacity 0.8s ease;
}

.Cert-Carousel-Button:hover {
  box-shadow: 0 0 20px rgba(240, 240, 240, 0.5);
  background: hsla(0, 0%, 100%, 0.3);
  opacity: 100%;
}

.Cert-Carousel-Button.right {
  right: 0;
}

.Cert-Carousel-Button.left {
  left: 0;
}

.Cert-Selector {
  transition: transform 0.3s ease-in-out;
}

.Cert-Selector-Cert-Selected {
  transform: scale(1.5);
  opacity: 0.6;
}

.Fit-Content {
}

.Form-Label {
  font-weight: bold;
}

.Nav-Bar {
  height: var(--nav-bar-height);
  width: auto;
}

.paragraphText {
  word-spacing: 24px;
  font-size: 2.5rem;
  line-height: 1.3;
}

.About-Text {
  word-spacing: 24px;
  font-size: 2.3rem;
  line-height: 1.3;
}

.About-Cert-Title {
  font-size: 4rem;
  font-weight: bolder;
}

.brandText {
  word-spacing: 2px;
  font-size: 1.8rem;
  padding: 10px 4px 30px 4px;
}

.Text-Block {
  margin: 1rem;
}

.titleNormal {
  font-weight: normal;
  font-size: 6rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Title-Bold {
  font-weight: bold;
  font-size: 6rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Bold-Text {
  font-weight: normal;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.Snap-Box-Container {
  background: transparent;
  overflow-y: auto;
  height: auto;
  scroll-snap-type: y mandatory;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
}

.Snap-Section {
  scroll-snap-align: start;
  scroll-margin-top: var(--nav-bar-height);
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Snap-Section:nth-of-type(1) {
  background: hsl(190, 50, 50);
}
.Snap-Section:nth-of-type(2) {
  background: hsl(190, 50, 60);
}
.Snap-Section:nth-of-type(3) {
  background: hsl(190, 50, 70);
}
.Snap-Section:nth-of-type(4) {
  background: hsl(190, 50, 80);
}
.Snap-Section:nth-of-type(5) {
  background: hsl(190, 50, 90);
}
